---
layout: default 
---

<div id="blog-index">
{% for post in site.posts reverse %}
{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% unless year == this_year %}
  {% assign year = this_year %}
  <h2>{{ year }}</h2>
{% endunless %}
<article>
{% capture category %}{{ post.categories | size }}{% endcapture %}
<h5><a href=" {{ root_url }}{{ post.url }} ">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h6>
{% if category != '0' %}
<footer>
  <span class="categories">posted in {{ post.categories | category_links }}</span>
</footer>
{% endif %}
</article>
{% endfor %}
</div>

